# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

##pycache
__pycache__/

## User auth token
__AWS__.py
__GITHUB__.py

#bat files
*.bat

## Output data
test/output/
*.tar.gz
